<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">

        <li>
          <a class="waves-effect waves-dark" href="{{ url_for('superadmin.dashboardsuperadmin') }}"
            aria-expanded="false">
            <i class="mdi mdi-gauge"></i>
            <span class="hide-menu">Beranda </span>
          </a>

        </li>



      </ul>


    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>