{% include "layout/kepalaupt/head.j2" %}
{% include "layout/kepalaupt/header.j2" %}


<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
            <li role="separator" class="divider"></li>

                <li> <a href="{{ url_for('kepalaupt.dashboardka') }}" aria-expanded="false"><i class="mdi mdi-gmail"></i><span class="hide-menu">Dashboard </span> </a>
                </li>

                <li> <a href="{{ url_for('kepalaupt.suratmasukka') }}" aria-expanded="false"><i class="mdi mdi-gmail"></i><span class="hide-menu">Surat Masuk 
                {% for satu_suratmasuk in daftar_suratmasuk if sesi not in satu_suratmasuk["dibaca"] %}
                <span class="label label-rounded label-danger pull-right">
                {{loop.length}}
                {% break %}
                </span>
                {% endfor %}
                </span>
                </a>                        
                </li>

                <li> <a  href="{{ url_for('kepalaupt.drafsuratka') }}" aria-expanded="false"><i class="mdi mdi-gmail"></i><span class="hide-menu">Draf Surat 
                {% for satu_suratkeluar in daftar_suratkeluar if ((satu_suratkeluar["status"] == "draf") and (sesi not in satu_suratkeluar["dibaca"])) %}
                <span class="label label-rounded label-danger pull-right">
                {{loop.length}}
                {% break %}
                </span>
                {% endfor %}
                </span>
                </a>                        
                </li>

                <li> <a  href="{{ url_for('kepalaupt.suratkeluarka') }}" aria-expanded="false"><i class="mdi mdi-file-document-box"></i><span class="hide-menu">Surat Keluar</span></a>
                </li>

                <li> <a  href="{{ url_for('kepalaupt.tindaklanjut') }}" aria-expanded="false"><i class="mdi mdi-clipboard-flow"></i><span class="hide-menu">Tindak Lanjut</span></a>
            </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor"><i class="ti-email"></i> {{ title }} </h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)"> {{ breadcrumb }} </a></li>
                        <li class="breadcrumb-item active">{{ breadcrumb_active }} </li>
                    </ol>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card" style="margin: 20px 90px 20px;">
                            <div class="card-body">
                                <div class="text-center">
                                    <img src="{{ url_for('static', filename='images/suratmasuk.png') }}" class="img-fluid" width="90" >
                                    <p class="card-text"></p>
                                    <a href="{{ url_for('kepalaupt.suratmasukka') }}" class="btn btn-themecolor">SURAT MASUK</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card" style="margin: 20px 90px 20px;">
                            <div class="card-body">
                                <div class="text-center">
                                    <img src="{{ url_for('static', filename='images/tindaklanjut.png') }}" class="img-fluid" width="90" >
                                    <p class="card-text"></p>
                                    <a href="{{ url_for('kepalaupt.tindaklanjut') }}" class="btn btn-themecolor">TINDAK LANJUT</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                     <div class="col-sm-6">
                        <div class="card" style="margin: 20px 90px 20px;">
                            <div class="card-body">
                                <div class="text-center">
                                    <img src="{{ url_for('static', filename='images/draf.png') }}" class="img-fluid" width="90" >
                                    <p class="card-text"></p>
                                    <a href="{{ url_for('kepalaupt.drafsuratka') }}" class="btn btn-themecolor">DRAF SURAT</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card" style="margin: 20px 90px 20px;">
                            <div class="card-body">
                            <div class="text-center">
                                <img src="{{ url_for('static', filename='images/suratkeluar.png') }}" class="img-fluid" width="90" >
                                <p class="card-text"></p>
                                <a href="{{ url_for('kepalaupt.suratkeluarka') }}" class="btn btn-themecolor">SURAT KELUAR</a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->

            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->

{% include "layout/kepalaupt/footer.j2" %}