{% include "layout/kepalaupt/head.j2" %}
{% include "layout/kepalaupt/header.j2" %}
<style>

.invalid {
  background-color: red;
}

table {width: 100%;}
td
{
 padding: 1em; 
 max-width: 0;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}
td.column_d {width: 10%;}
td.column_e {width: 10%;}
td.column_f {width: 10%;}
td.column_g {width: 10%;}
}

</style>
<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
            <li role="separator" class="divider"></li>

                <li> <a href="{{ url_for('kepalaupt.dashboardka') }}" aria-expanded="false"><i class="mdi mdi-gmail"></i><span class="hide-menu">Dashboard </span> </a>
                </li>

                <li> <a  href="{{ url_for('kepalaupt.suratmasukka') }}" aria-expanded="false"><i class="mdi mdi-gmail"></i><span class="hide-menu">Surat Masuk 
                {% for satu_suratmasuk in daftar_suratmasuk if sesi not in satu_suratmasuk["dibaca"] %}
                <span class="label label-rounded label-danger pull-right">
                {{loop.length}}
                {% break %}
                </span>
                {% endfor %}
                </span>
                </a>                        
                </li>

                <li> <a  href="{{ url_for('kepalaupt.drafsuratka') }}" aria-expanded="false"><i class="mdi mdi-gmail"></i><span class="hide-menu">Draf Surat 
                {% for satu_suratkeluar in daftar_suratkeluar if ((satu_suratkeluar["status"] == "draf") and (sesi not in satu_suratkeluar["dibaca"])) %}
                <span class="label label-rounded label-danger pull-right">
                {{loop.length}}
                {% break %}
                </span>
                {% endfor %}
                </span>
                </a>                        
                </li>

                <li> <a  href="{{ url_for('kepalaupt.suratkeluarka') }}" aria-expanded="false"><i class="mdi mdi-file-document-box"></i><span class="hide-menu">Surat Keluar</span></a>
                </li>

                <li> <a  href="{{ url_for('kepalaupt.tindaklanjut') }}" aria-expanded="false"><i class="mdi mdi-clipboard-flow"></i><span class="hide-menu">Tindak Lanjut</span></a>
            </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    {% for satu_suratmasuk in data_suratmasuk %}

    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor"><i class="ti-email"></i> {{ title }} </h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('kepalaupt.dashboardka') }}"> {{ breadcrumb }} </a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('kepalaupt.tindaklanjut') }}">
                        {{ breadcrumb_nonactive }} </a></li>
                <li class="breadcrumb-item active"><a href="/kepalaupt/detailtindaklanjut/{{ satu_suratmasuk["id"] }}">
                        {{ breadcrumb_active }} </a></li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Tindak Lanjut Surat : {{ satu_suratmasuk["nomor_surat"] }}</h4>
                        <div>
                            <hr class="m-t-0">
                        </div>
                        <button class="pull-right btn btn-sm btn btn-themecolor" data-toggle="modal"
                            data-target="#myModal"><i class="fa fa-plus"></i> Tambah Tugas</button>
                        <h5 class="card-subtitle">Daftar Tugas dan Penanggung Jawab </h5>
                        <!-- ============================================================== -->
                        <!-- To do list widgets -->
                        <!-- ============================================================== -->
                        <div class="to-do-widget m-t-20">
                            <!-- modal for add task -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title"> Tambah Tugas</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span> </button>
                                        </div>
                                        <div class="modal-body">
                                            <form novalidate action="{{ url_for('tindaklanjut.tindaklanjut_tambah') }}"
                                                method="POST" enctype="multipart/form-data">
                                                <div class="form-group">
                                                    <label>Tugas</label>
                                                    <input type="text" name="tugas" class="form-control"
                                                        placeholder="Nama Tugas">
                                                </div>
                                                <div class="form-group">
                                                    <label>Penanggung Jawab</label>
                                                    
                                                    <select name="penanggungjawab" class="select-jabatan form-control custom-select"
                                                        style="width: 100%; height:36px;">
                                                        <option>Pilih</option>
                                                        {% set i = namespace(value=0) %}
                                                        {% for x in satu_suratmasuk["disposisi"] %}
                                                        
                                                            <option name="penanggungjawab[]" value="{{ satu_suratmasuk["disposisi"][i.value] }}">
                                                           
                                                                {{ satu_suratmasuk["data_disposisi"][i.value].title() }}
                                                                    
                                                            </option>
                                                        {% set i.value = i.value + 1 %}
                                                        {% endfor %}
                                                    </select>

                                                </div>

                                                <div class="form-group">
                                                    <label>Tenggat Waktu</label>
                                                    <div class="input-group date" id="datetimepicker"
                                                        data-plugin="datetimepicker" data-date-format="dd-mm-yyyy">
                                                        <input type="date" id="deadline" name="tenggatwaktu" class="form-control" />
                                                    </div>
                                                </div>

                                                <input id="id_suratmasuk" type="text" name="id_suratmasuk"
                                                    class="form-control" hidden value="{{satu_suratmasuk['id']}}">

                                                <button type="button" class="btn btn-danger"
                                                    data-dismiss="modal">Batal</button>
                                                <button type="submit" class="btn btn-success">Tambah</button>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>



                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-info alert-dismissible fade show" role="alert">
                                <span>{{ message }}</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="col-xlg-12 col-lg-12 col-md-12">
                                            <div class="card shadow-none">
                                                <div class="inbox-center table-responsive">
                                                    <table id=""
                                                        class="table table-hover no-wrap table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Penugas</th>
                                                                <th>Tugas</th>
                                                                <th>Penanggung Jawab</th>
                                                                <th>Tenggat Waktu</th>
                                                                <th>Histori</th>
                                                                <th>Tindaklanjut</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for tindaklanjut in satu_suratmasuk["data_tindaklanjut"] %}
                                                            {% if tindaklanjut["check"] == "0" and tindaklanjut["notif"] == "lewat" %}
                                                            <tr class="invalid">

                                                                <td class="column_a">{{ tindaklanjut["penugas_tindaklanjut"]["nama_jabatan"].title() }}
                                                                </td>
                                                                <td class="column_b">{{ tindaklanjut["tugas"] }}</td>
                                                                
                                                                <td class="column_c">{{ tindaklanjut["penanggungjawab"].title() }}</td>
                                                                
                                                                <td class="column_d">{{ tindaklanjut["tenggatwaktu"] }}</td>

                                                                <td class="column_e"><a
                                                                        href="/kepalaupt/historika/{{ tindaklanjut["id"] }}">
                                                                        <button type="button"
                                                                            class="btn waves-effect waves-light btn-themecolor">History</button></a>
                                                                </td>
                                                                <td class="column_f">
                                                                    <a
                                                                        href="/kepalaupt/isi-tindaklanjutka/{{ tindaklanjut["id"] }}">
                                                                        <button type="button"
                                                                            class="btn waves-effect waves-light btn-info">Detail</button></a>
                                                                </td>
                                                                {% if tindaklanjut["check"] == "1" %}
                                                                <td class="column_g">
                                                                    <span
                                                                        class="label label-table label-success">Selesai</span>
                                                                </td>
                                                                {% elif tindaklanjut["check"] == "0" %}
                                                                <td class="column_g">
                                                                    <span
                                                                        class="label label-table label-warning">Diproses</span>
                                                                </td>
                                                                {% endif %}
                                                            </tr>
                                                            {% elif tindaklanjut["notif"] != "lewat" %}
                                                            <tr>

                                                                <td class="column_a">{{ tindaklanjut["penugas_tindaklanjut"]["nama_jabatan"].title() }}
                                                                </td>
                                                                <td class="column_b">{{ tindaklanjut["tugas"] }}</td>
                                                                
                                                                <td class="column_c">{{ tindaklanjut["penanggungjawab"].title() }}</td>
                                                                
                                                                <td class="column_d">{{ tindaklanjut["tenggatwaktu"] }}</td>

                                                                <td class="column_e"><a
                                                                        href="/kepalaupt/historika/{{ tindaklanjut["id"] }}">
                                                                        <button type="button"
                                                                            class="btn waves-effect waves-light btn-themecolor">History</button></a>
                                                                </td>
                                                                <td class="column_f">
                                                                    <a
                                                                        href="/kepalaupt/isi-tindaklanjutka/{{ tindaklanjut["id"] }}">
                                                                        <button type="button"
                                                                            class="btn waves-effect waves-light btn-info">Detail</button></a>
                                                                </td>
                                                                {% if tindaklanjut["check"] == "1" %}
                                                                <td class="column_g">
                                                                    <span
                                                                        class="label label-table label-success">Selesai</span>
                                                                </td>
                                                                {% elif tindaklanjut["check"] == "0" %}
                                                                <td class="column_g">
                                                                    <span
                                                                        class="label label-table label-warning">Diproses</span>
                                                                </td>
                                                                {% endif %}
                                                            </tr>
                                                            {% endif %}
                                                            {% endfor %}

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <br>
                        <a type="submit" class="btn pull-right btn btn-info" style="margin: 5px;" style="float: right;"
                            href="/tindaklanjut/selesai/{{ satu_suratmasuk['id'] }}"> Submit </a>
                        <a type="button" class="btn pull-right btn-themecolor" style="float: left;" style="margin: 5px;"
                            href="{{ url_for('kepalaupt.tindaklanjut') }}">Simpan</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
    </div>
    {% endfor %}

    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    {% include "layout/kepalaupt/footer.j2" %}