{% include "layout/kepalaupt/head.j2" %}
{% include "layout/kepalaupt/header.j2" %}

<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
            <li role="separator" class="divider"></li>

                <li> <a href="{{ url_for('kepalaupt.dashboardka') }}" aria-expanded="false"><i class="mdi mdi-gmail"></i><span class="hide-menu">Dashboard </span> </a>
                </li>

                <li> <a  href="{{ url_for('kepalaupt.suratmasukka') }}" aria-expanded="false"><i class="mdi mdi-gmail"></i><span class="hide-menu">Surat Masuk 
                {% for satu_suratmasuk in daftar_suratmasuk if sesi not in satu_suratmasuk["dibaca"] %}
                <span class="label label-rounded label-danger pull-right">
                {{loop.length}}
                {% break %}
                </span>
                {% endfor %}
                </span>
                </a>                        
                </li>

                <li> <a  href="{{ url_for('kepalaupt.drafsuratka') }}" aria-expanded="false"><i class="mdi mdi-gmail"></i><span class="hide-menu">Draf Surat 
                {% for satu_suratkeluar in daftar_suratkeluar if ((satu_suratkeluar["status"] == "draf") and (sesi not in satu_suratkeluar["dibaca"])) %}
                <span class="label label-rounded label-danger pull-right">
                {{loop.length}}
                {% break %}
                </span>
                {% endfor %}
                </span>
                </a>                        
                </li>

                <li> <a  href="{{ url_for('kepalaupt.suratkeluarka') }}" aria-expanded="false"><i class="mdi mdi-file-document-box"></i><span class="hide-menu">Surat Keluar</span></a>
                </li>

                <li> <a  href="{{ url_for('kepalaupt.tindaklanjut') }}" aria-expanded="false"><i class="mdi mdi-clipboard-flow"></i><span class="hide-menu">Tindak Lanjut</span></a>
            </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<div class="page-wrapper">

    {% for satu_tindaklanjut in data_tindaklanjut %}

    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor"><i class="ti-email"></i> {{ title }} </h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('kepalaupt.dashboardka') }}"> {{ breadcrumb }} </a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('kepalaupt.tindaklanjut') }}">
                        {{ breadcrumb_nonactive }} </a></li>
                {# <li class="breadcrumb-item"><a href="/kepalaupt/detailtindaklanjut/{{ satu_suratmasuk["id"] }}">
                        {{ breadcrumb_active }} </a></li> #}
                <li class="breadcrumb-item active"><a
                        href="/kepalaupt/historika/{{ satu_tindaklanjut["id"] }}">
                        {{ breadcrumb_activated }} </a></li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">

        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->

        <div class="row">
            <div class="col-lg-12">
                
                <!-- Log  -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <ul class="timeline">
                                    <li>
                                        <div class="timeline-badge info"><i class="mdi mdi-file-document"></i> </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">Ditugaskan</h4>

                                                <p><small
                                                        class="text-muted">{{ satu_tindaklanjut["tgl_tugas"] }}</small>
                                                </p>
                                            </div>
                                            <div class="timeline-body">
                                                <p>Oleh : {{ satu_tindaklanjut["penugas"].title() }}</p>

                                                <p>Kepada : {{ satu_tindaklanjut["penanggungjawab"].title() }}</p>
                                            </div>
                                        </div>
                                    </li>
                                    
                                    {% for followup in satu_tindaklanjut["data_followup"]|sort(attribute='tgl_followup') %}
                                    <li class="timeline-inverted">


                                        <div class="timeline-badge info"><i class="mdi mdi-file-document"></i> </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">Diproses </h4>
                                                <p><small class="text-muted"> {{ followup["tgl_followup"] }} </small> </p>
                                            </div>
                                            <div class="timeline-body">
                                                <p>Tugas Diproses oleh :
                                                    {{ followup["penanggungjawab_tindaklanjut"]["nama_jabatan"].title() }}</p>
                                            </div>
                                        </div>

                                    </li>
                                    {% endfor %}
                                    
                                    {% if satu_tindaklanjut["check"] == "1" %}
                                    <li>
                                        <div class="timeline-badge info"><i class="mdi mdi-file-document"></i> </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">Selesai</h4>
                                                <p><small class="text-muted">{{ satu_tindaklanjut["tgl_selesai"] }}</small>
                                                </p>
                                            </div>
                                            <div class="timeline-body">
                                                <p>Tugas Tindak Lanjut ditandai : Selesai</p>
                                            </div>
                                        </div>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->

    </div>
    {% endfor %}

    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    {% include "layout/kepalaupt/footer.j2" %}