<!-- extends halaman content -->
{% extends "layout/kepalaupt/content.j2" %}

{% block main %}
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card" style="margin: 20px 90px 20px;">
                            <div class="card-body">
                                <div class="text-center">
                                    <img src="{{ url_for('static', filename='images/suratmasuk.png') }}" class="img-fluid" width="90" >
                                    <p class="card-text"></p>
                                    <a href="{{ url_for('kepalaupt.suratmasukka') }}" class="btn btn-themecolor">SURAT MASUK</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card" style="margin: 20px 90px 20px;">
                            <div class="card-body">
                                <div class="text-center">
                                    <img src="{{ url_for('static', filename='images/tindaklanjut.png') }}" class="img-fluid" width="90" >
                                    <p class="card-text"></p>
                                    <a href="{{ url_for('kepalaupt.tindaklanjut') }}" class="btn btn-themecolor">TINDAK LANJUT</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                     <div class="col-sm-6">
                        <div class="card" style="margin: 20px 90px 20px;">
                            <div class="card-body">
                                <div class="text-center">
                                    <img src="{{ url_for('static', filename='images/draf.png') }}" class="img-fluid" width="90" >
                                    <p class="card-text"></p>
                                    <a href="{{ url_for('kepalaupt.drafsuratka') }}" class="btn btn-themecolor">DRAF SURAT</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card" style="margin: 20px 90px 20px;">
                            <div class="card-body">
                            <div class="text-center">
                                <img src="{{ url_for('static', filename='images/suratkeluar.png') }}" class="img-fluid" width="90" >
                                <p class="card-text"></p>
                                <a href="{{ url_for('kepalaupt.suratkeluarka') }}" class="btn btn-themecolor">SURAT KELUAR</a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
{% endblock %}
<!-- end extends halaman content -->