        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                    <li role="separator" class="divider"></li>

                        <li> <a href="{{ url_for('kepalaupt.dashboardka') }}" aria-expanded="false"><i class="mdi mdi-gmail"></i><span class="hide-menu">Dashboard </span> </a>
                        </li>

                        <li> <a  href="{{ url_for('kepalaupt.suratmasukka') }}" aria-expanded="false"><i class="mdi mdi-gmail"></i><span class="hide-menu">Surat Masuk </span></a>
                        </li>

                        <li> <a  href="{{ url_for('kepalaupt.drafsuratka') }}" aria-expanded="false"><i class="mdi mdi-email"></i><span class="hide-menu">Draf Surat</span></a>
                        </li>

                        <li> <a  href="{{ url_for('kepalaupt.suratkeluarka') }}" aria-expanded="false"><i class="mdi mdi-file-document-box"></i><span class="hide-menu">Surat Keluar</span></a>
                        </li>

                        <li> <a  href="{{ url_for('kepalaupt.tindaklanjut') }}" aria-expanded="false"><i class="mdi mdi-clipboard-flow"></i><span class="hide-menu">Tindak Lanjut</span></a>
                    </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
